/* Animate the Corona icon in the background */
.top_layer{
    z-index: 100;
    opacity: 1;
}
.viral_vect{
    position: absolute;
    z-index: -70;
    margin-top: -50%;
    margin-left: -10%;
    opacity: 0.5;
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: 30000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(10deg);}
  }